<table class="table table-bordered">
  <thead>
      <tr>
        <th>
          Name
        </th>
        <th>
          Descriptión
        </th>
        <th>
          Acción
        </th>
      </tr>

  </thead>
  <tbody>
    <tr *ngFor="let post of posts$ | async; let i = index">
      <td>
        {{post.name}}
      </td>
      <td>
        {{post.description}}
      </td>
      <td>
        <button class="btn btn-danger" (click)="deletePost(i)">
          Eliminar
        </button>
      </td>
    </tr>
  </tbody>
</table>
